In [1]:
#import tensorflow as tf
#print(tf.__version__)

2.13.0

In [2]:
import nltk
#nltk.download('punkt')

In [3]:
import nltk
import pandas as pd
import gensim
from gensim.models import Word2Vec, KeyedVectors

# Data Preprocessing

In [4]:
# google pretrained model

# https://www.kaggle.com/rootuser/worldnews-on-reddit

In [5]:
# create a directory as kaggle
#import os
#os.makedirs(os.path.expanduser('~/.kaggle'), exist_ok=True)

In [6]:
# copy API key to kaggle directory
#!copy C:\Users\Chang.LAPTOP-KLP71L1N\Downloads\kaggle.json C:\Users\Chang.LAPTOP-KLP71L1N\.kaggle

In [7]:
# import the dataset
#! kaggle datasets download -d rootuser/worldnews-on-reddit

worldnews-on-reddit.zip: Skipping, found more recently modified local copy (use --force to force download)

In [8]:
# unzip the dataset
#!bsdtar -xf "C:\Users\Chang.LAPTOP-KLP71L1N\Documents\AIE NLP Practical Course\Word Embeddings\worldnews-on-reddit.zip"

In [9]:
df = pd.read_csv(r'C:\Users\Chang.LAPTOP-KLP71L1N\Documents\AIE NLP Practical Course\Word Embeddings\reddit_worldnews_start_to_2016-11-22.csv')

In [10]:
df.head()

,time_created,date_created,up_votes,down_votes,title,over_18,author,subreddit
0,1201232046,2008-01-25,3,0,Scores killed in Pakistan clashes,False,polar,worldnews
1,1201232075,2008-01-25,2,0,Japan resumes refuelling mission,False,polar,worldnews
2,1201232523,2008-01-25,3,0,US presses Egypt on Gaza border,False,polar,worldnews
3,1201233290,2008-01-25,1,0,Jump-start economy: Give health care to all,False,fadi420,worldnews
4,1201274720,2008-01-25,4,0,Council of Europe bashes EU&UN terror blacklist,False,mhermans,worldnews

In [11]:
df.shape

(509236, 8)

In [12]:
# take title column
news_titles = df['title'].values

In [13]:
news_titles[:5]

array(['Scores killed in Pakistan clashes',
       'Japan resumes refuelling mission',
       'US presses Egypt on Gaza border',
       'Jump-start economy: Give health care to all ',
       'Council of Europe bashes EU&UN terror blacklist'], dtype=object)

In [14]:
# tokenize the words
new_vec = [nltk.word_tokenize(title) for title in news_titles]

In [15]:
new_vec[0]

['Scores', 'killed', 'in', 'Pakistan', 'clashes']

# Build the model

In [23]:
model = Word2Vec(new_vec, min_count=1, vector_size=100)
# text, min word count, size of each vector (hyperparameter to tune. A common value used is 100)

# Predict the output

In [24]:
# find 10 closest words in the vector space that we have created
model.wv.most_similar('man')

[('woman', 0.9048051834106445),
 ('boy', 0.8304983377456665),
 ('girl', 0.827724277973175),
 ('teenager', 0.8235151767730713),
 ('couple', 0.7952603101730347),
 ('doctor', 0.7488182187080383),
 ('teacher', 0.7453435063362122),
 ('teen', 0.7411636114120483),
 ('mother', 0.7345369458198547),
 ('driver', 0.7093431353569031)]

In [25]:
# see the vector
model.wv['man']

# so this is how man is represented in our vector space

array([ 1.2022357 , -1.9531151 , -1.3032073 , -0.357635  , -0.3879431 ,
        1.4413354 , -3.0378618 , -0.28517362, -0.8722151 , -0.99969137,
       -0.25868368, -3.6810422 , -0.8771309 ,  2.5960824 , -0.9217453 ,
        1.5217942 , -2.2901084 , -1.7163441 ,  0.68781966,  2.5760813 ,
        1.4611269 ,  0.5131346 , -0.5405843 , -0.23063594,  1.0075289 ,
       -1.9043963 ,  2.2783153 ,  1.1931536 ,  0.10202156, -1.5299826 ,
        0.9139097 , -0.08548339,  2.2486281 , -2.2369635 ,  0.22228485,
        0.42894083,  2.2536879 , -0.2618547 ,  0.14762653, -0.97830254,
        0.36454132,  0.94663256,  0.68910116, -1.0146148 ,  1.168846  ,
        1.7038828 , -0.1252899 ,  0.7421795 , -0.8120384 , -1.0439591 ,
       -0.83129984, -0.48142463,  2.522911  , -1.5581205 ,  1.4746598 ,
        0.9430515 , -0.50585604,  1.0071683 , -1.6139259 ,  6.079936  ,
        0.99226075,  2.6022828 ,  0.90026826, -0.24722774,  1.9299597 ,
       -2.0501428 ,  0.11644725,  1.6399509 ,  2.4248176 ,  3.0605288 ,
       -0.8418646 ,  0.3267722 , -1.1712157 ,  0.3002761 , -3.134988  ,
        2.088687  , -0.4088022 , -3.6173823 ,  1.5587263 , -4.076926  ,
       -0.38618368,  0.5502218 ,  0.42489254,  0.08458567, -0.70546085,
        0.37052184,  0.46826914, -0.14498031, -0.33393124,  0.8133855 ,
       -2.2083533 ,  0.8966292 ,  0.10666136,  3.226168  , -1.8274493 ,
       -0.11182543,  0.03509669, -2.3221376 ,  2.515623  ,  0.9872436 ],
      dtype=float32)

In [26]:
# let us try the famous relationship
vec = model.wv['king'] - model.wv['man'] + model.wv['women']
model.wv.most_similar([vec])

[('women', 0.691999077796936),
 ('clerics', 0.5552812218666077),
 ('education', 0.5507354140281677),
 ('religious', 0.5397980213165283),
 ('gender', 0.5326113104820251),
 ('Women', 0.5247071385383606),
 ('equality', 0.5219236612319946),
 ('equal', 0.5121164321899414),
 ('freedoms', 0.5116507411003113),
 ('minorities', 0.49054455757141113)]

In [27]:
# Relationship
vec = model.wv['Germany'] - model.wv['Berlin'] + model.wv['Paris']
model.wv.most_similar([vec])

[('Germany', 0.8278080821037292),
 ('Paris', 0.8242901563644409),
 ('France', 0.819098949432373),
 ('Belgium', 0.7579799294471741),
 ('Sweden', 0.7318070530891418),
 ('Brussels', 0.7167997360229492),
 ('Britain', 0.6988443732261658),
 ('Norway', 0.6732777953147888),
 ('Switzerland', 0.6563703417778015),
 ('Europe', 0.6501398086547852)]

In [28]:
# Relationship
vec = model.wv['Messi'] - model.wv['Football'] + model.wv['Cricket']
model.wv.most_similar([vec])

[('226', 0.5915577411651611),
 ('encircling', 0.5417653322219849),
 ('Vujadin', 0.5387526750564575),
 ('prematurely', 0.5305230617523193),
 ('Messi', 0.5253174901008606),
 ('223', 0.5246443748474121),
 ('lasts', 0.5243546366691589),
 ('paraplegic', 0.524090051651001),
 ('4yo', 0.5218325257301331),
 ('241', 0.5172705054283142)]